<template>
  <div class="container"> 
    <div class="row pt-5">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form @submit.prevent="agregarComentario">
              <div class="form-group">
                <input type="email" v-model="comentario.email" class="form-control" placeholder="Insertar tu Email">
              </div>
              <div class="form-group">
                <textarea type="text" v-model="comentario.comentario" cols="30" rows="10" class="form-control" placeholder="Insertar Comentario"></textarea>
              </div>
              <template v-if="editar === false">
                <button class="btn btn-success btn-block">Crear</button>
              </template>
              <template v-else>
                <button class="btn btn-success btn-block">Actualizar</button>
              </template>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-7"></div>
    </div><br>
    <div class="row">
      <div class="col-lg-4" v-for="comentario of comentarios">
        <b-card bg-variant="light" class="text-center">
          <b-card-text>
            {{ comentario.email }}
          </b-card-text>
          <b-card-text>
            {{ comentario.comentario }}
          </b-card-text>
          <button @click="eliminarComentario(comentario._id)" class="btn btn-danger btn-block">Eliminar</button>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>

class Comentario{
  constructor(email, comentario){
    this.email = email;
    this.comentario = comentario;
  }
}

export default {
  data(){
    return{
      comentario: new Comentario(),
      comentarios: [],
      idComentario: ''
    }
  },
  created(){
    this.obtenerComentario();
  },
  methods: {
    agregarComentario(){

        fetch('/comentarios', {
          method: 'POST',
          body: JSON.stringify(this.comentario),
          headers: {
            'Accept': 'application/json',
            'Content-type': 'application/json'
          }
        })
          .then((res => res.json()))
          .then(data => {
            this.obtenerComentario();
          })
      this.comentario = new Comentario();
    },
    obtenerComentario(){
      fetch('/comentarios')
      .then(res => res.json())
      .then (data => {
        this.comentarios = data;
        console.log(this.comentarios);
      })
    },
    eliminarComentario(id){
      fetch('/comentarios/' + id, {
        method: 'DELETE',
        headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json'
        }
      })
      .then(res => res.json())
      .then(data => {
        this.obtenerComentario();
      })
    }
  }
}
</script>
