<template>
  <div class="container"> 
    <div class="row pt-5">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form @submit.prevent="agregarArticulo">
              <div class="form-group">
                <input type="text" v-model="articulo.titulo" class="form-control" placeholder="Insertar el título" required>
              </div>
              <div class="form-group">
                <input type="text" v-model="articulo.subtitulo" class="form-control" placeholder="Insertar el subtítulo" required>
              </div>
              <div class="form-group">
                <textarea type="text" v-model="articulo.contenido" cols="30" rows="10" class="form-control" placeholder="Insertar Contenido" required></textarea>
              </div>
              <div class="form-group">
                <input type="text" v-model="articulo.imgUrl" class="form-control" placeholder="Inserta Imagen" required>
              </div>
              <template v-if="editar === false">
                <button class="btn btn-success btn-block">Crear</button>
              </template>
              <template v-else>
                <button class="btn btn-success btn-block">Actualizar</button>
              </template>
            </form>
          </div>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-12" v-for="articulo of articulos">
        <div class="card mb-3">
          <img :src="articulo.imgUrl" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{articulo.titulo}}</h5>
            <h5 class="card-title">{{articulo.subtitulo}}</h5>
            <p class="card-text">{{articulo.contenido}}</p>
            <button @click="eliminarArticulo(articulo._id)" class="btn btn-danger">Eliminar</button>
            <button @click="editarArticulo(articulo._id)" class="btn btn-success">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

class Articulo{
  constructor(titulo, subtitulo, imgUrl, contenido){
    this.titulo = titulo;
    this.subtitulo = subtitulo;
    this.imgUrl = imgUrl;
    this.contenido = contenido;
  }
}

export default {
  data(){
    return{
      articulo: new Articulo(),
      articulos: [],
      editar: false,
      idArticulo: ''
    }
  },
  created(){
    this.obtenerArticulo();
  },
  methods: {
    agregarArticulo(){
      if(this.editar === false){
        fetch('/articulos', {
          method: 'POST',
          body: JSON.stringify(this.articulo),
          headers: {
            'Accept': 'application/json',
            'Content-type': 'application/json'
          }
        })
          .then((res => res.json()))
          .then(data => {
            this.obtenerArticulo();
          })
      } else {
        fetch('/articulos/' + this.idArticulo, {
          method: 'PUT',
          body: JSON.stringify(this.articulo),
          headers:{
            'Accept': 'application/json',
            'Content-type': 'application/json'
          }
        })
          .then(res => res.json())
          .then(data => {
              this.obtenerArticulo();
          })
      }
      this.articulo = new Articulo();
    },
    obtenerArticulo(){
      fetch('/articulos')
      .then(res => res.json())
      .then (data => {
        this.articulos = data;
        console.log(this.articulos);
      })
    },
    eliminarArticulo(id){
      fetch('/articulos/' + id, {
        method: 'DELETE',
        headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json'
        }
      })
      .then(res => res.json())
      .then(data => {
        this.obtenerArticulo();
      })
    },
    editarArticulo(id){
      fetch('/articulos/' + id)
        .then(res => res.json())
        .then(data => {
          this.articulo = new Articulo(data.titulo, data.subtitulo, data.imgUrl, data.contenido); 
          this.idArticulo = data._id;
          this.editar = true;
      });
    }
  }
}
</script>

<style>

</style>